<div class="send-mail-modal">
    <p class="modal-title">Send Update to <span>{{modaldata.owner_name}}</span> via Email</p>
    <div class="text-border"></div>
    <div class="input-wrapper">
        <label>Last Week Summary Message</label>
        <textarea [(ngModel)]="modaldata.summary"></textarea>
    </div>
    <div class="input-wrapper">
        <label>Upcoming Week Message</label>
        <textarea [(ngModel)]="modaldata.upcoming_plan"></textarea>
    </div>
    <div class="input-wrapper">
        <label>P.S</label>
        <textarea [(ngModel)]="modaldata.ps"></textarea>
    </div>
    <div class="btn-wrapper">
        <ion-button (click)="sendMailDetails()">SEND MAIL</ion-button>
    </div>

</div>