.send-mail-modal {
    padding: 30px 40px;
    .modal-title {
        font-size: 24px;
        font-family: var(--ion-font-primary-semibold);
        color: var(--ion-text-color-shade);
        text-align: center;
        span {
            text-transform: capitalize;
        }
    }
    .text-border {
        text-align: center;
        position: relative;
        width: 20px;
        height: 20px;
        background-color: var(--ion-color-primary);
        border-radius: 100%;
        margin: 20px auto;
        &::after {
            content: "";
            position: absolute;
            position: absolute;
            width: 100px;
            height: 8px;
            background-color: var(--ion-color-secondary);
            right: 35px;
            transform: translateY(-50%);
            top: 50%;
        }
        &::before {
            content: "";
            position: absolute;
            width: 100px;
            height: 8px;
            background-color: var(--ion-color-secondary);
            transform: translateY(-50%);
            top: 50%;
            left: 35px;
        }
    }
    .input-wrapper {
        margin: 25px 0;
        label {
            display: block;
            font-size: 16px;
            font-family: var(--ion-font-primary-medium);
            line-height: 28px;
            color: var(--ion-text-color-shade);
        }
        textarea {
            resize: none;
            font-family: var(--ion-font-primary-regular);
            width: 100%;
            height: 120px;
            background-color: #f7f7f7;
            border-radius: 12px;
            padding: 15px;
            border: none;
            outline: none;
        }
    }
    .btn-wrapper {
        text-align: center;
        ion-button {
            font-size: 20px;
            font-family: var(--ion-font-primary-bold);
            color: var(--ion-text-white);
            --box-shadow: none;
            --border-radius: 12px;
            height: 54px;
            --padding-top: 27px;
            --padding-bottom: 27px;
            --padding-start: 70px;
            text-transform: capitalize;
            --padding-end: 70px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .send-mail-modal {
        padding: 25px 20px;
        .input-wrapper {
            textarea {
                height: 100px;
            }
        }
        .btn-wrapper {
            ion-button {
                width: 100%;
            }
        }
    }
}