// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
    /** primary **/
    --ion-color-primary: #ff9f4d;
    --ion-color-primary-rgb: 255, 159, 77;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #e08c44;
    --ion-color-primary-tint: #ffa95f;
    /** secondary **/
    --ion-color-secondary: #fec653;
    --ion-color-secondary-rgb: 254, 198, 83;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #e0ae49;
    --ion-color-secondary-tint: #fecc64;
    /** tertiary **/
    --ion-color-tertiary: #ff5e49;
    --ion-color-tertiary-rgb: 255, 94, 73;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #e05340;
    --ion-color-tertiary-tint: #ff6e5b;
    /** success **/
    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;
    /** warning **/
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;
    /** danger **/
    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;
    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 36, 40;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
    /** medium **/
    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146, 148, 156;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;
    /** light **/
    --ion-color-light: #8a8a8a;
    --ion-color-light-rgb: 244, 245, 248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #8a8a8a;
    --ion-color-light-tint: #f5f6f9;
    // Text Color
    --ion-background-color: #fff;
    --ion-text-background-color: #4c004c;
    --ion-text-white: #fff;
    --ion-text-color: #040300;
    --ion-text-color-rgb: 52, 52, 52;
    --ion-text-color-shade: #000;
    --ion-text-color-light: #212121;
    --ion-text-color-tint: #8a8a8a;
    // Font (Self Made Variables)
    --ion-font-primary-alternates-extrabold: "MontserratAlternates-ExtraBold", "sans serif";
    --ion-font-primary-black: "Montserrat-Black", "sans serif";
    --ion-font-primary-extrabold: "Montserrat-ExtraBold", "sans serif";
    --ion-font-primary-bold: "Montserrat-Bold", "sans serif";
    --ion-font-primary-semibold: "Montserrat-SemiBold", "sans serif";
    --ion-font-primary-medium: "Montserrat-Medium", "sans serif";
    --ion-font-primary-regular: "Montserrat-Regular", "sans serif";
    --ion-font-primary-light: "Montserrat-Light", "sans serif";
    --ion-font-secondary-regular: "HelveticaNeue-Condensed", "sans serif";
}

@media (prefers-color-scheme: dark) {
    /*
   * Dark Colors
   * -------------------------------------------
   */
    body {
        /** primary **/
        --ion-color-primary: #ff9f4d;
        --ion-color-primary-rgb: 255, 159, 77;
        --ion-color-primary-contrast: #000000;
        --ion-color-primary-contrast-rgb: 0, 0, 0;
        --ion-color-primary-shade: #e08c44;
        --ion-color-primary-tint: #ffa95f;
        /** secondary **/
        --ion-color-secondary: #fec653;
        --ion-color-secondary-rgb: 254, 198, 83;
        --ion-color-secondary-contrast: #000000;
        --ion-color-secondary-contrast-rgb: 0, 0, 0;
        --ion-color-secondary-shade: #e0ae49;
        --ion-color-secondary-tint: #fecc64;
        /** tertiary **/
        --ion-color-tertiary: #ff5e49;
        --ion-color-tertiary-rgb: 255, 94, 73;
        --ion-color-tertiary-contrast: #000000;
        --ion-color-tertiary-contrast-rgb: 0, 0, 0;
        --ion-color-tertiary-shade: #e05340;
        --ion-color-tertiary-tint: #ff6e5b;
        --ion-color-success: #2fdf75;
        --ion-color-success-rgb: 47, 223, 117;
        --ion-color-success-contrast: #000000;
        --ion-color-success-contrast-rgb: 0, 0, 0;
        --ion-color-success-shade: #29c467;
        --ion-color-success-tint: #44e283;
        --ion-color-warning: #ffd534;
        --ion-color-warning-rgb: 255, 213, 52;
        --ion-color-warning-contrast: #000000;
        --ion-color-warning-contrast-rgb: 0, 0, 0;
        --ion-color-warning-shade: #e0bb2e;
        --ion-color-warning-tint: #ffd948;
        --ion-color-danger: #ff4961;
        --ion-color-danger-rgb: 255, 73, 97;
        --ion-color-danger-contrast: #ffffff;
        --ion-color-danger-contrast-rgb: 255, 255, 255;
        --ion-color-danger-shade: #e04055;
        --ion-color-danger-tint: #ff5b71;
        --ion-color-dark: #cbcbcb;
        --ion-color-dark-rgb: 203, 203, 203;
        --ion-color-dark-contrast: #000000;
        --ion-color-dark-contrast-rgb: 0, 0, 0;
        --ion-color-dark-shade: #b3b3b3;
        --ion-color-dark-tint: #d0d0d0;
        --ion-color-medium: #757575;
        --ion-color-medium-rgb: 117, 117, 117;
        --ion-color-medium-contrast: #ffffff;
        --ion-color-medium-contrast-rgb: 255, 255, 255;
        --ion-color-medium-shade: #676767;
        --ion-color-medium-tint: #838383;
        --ion-color-light: #424242;
        --ion-color-light-rgb: 66, 66, 66;
        --ion-color-light-contrast: #ffffff;
        --ion-color-light-contrast-rgb: 255, 255, 255;
        --ion-color-light-shade: #3a3a3a;
        --ion-color-light-tint: #555555;
        ion-title.title-large {
            --color: white;
        }
        // Text Colors
        --ion-background-color: #040300;
        --ion-text-white: #040300;
        --ion-text-color: #fff;
        --ion-text-color-rgb: 255,
        255,
        255;
        --ion-text-color-shade: #fff;
        --ion-text-color-light: #fff;
        --ion-text-color-tint: #c9c9c9;
    }
    /*
   * iOS Dark Theme
   * -------------------------------------------
   */
    .ios body {
        --ion-background-color: #000000;
        --ion-background-color-rgb: 0, 0, 0;
        --ion-text-color: #ffffff;
        --ion-text-color-rgb: 255, 255, 255;
        --ion-color-step-50: #0d0d0d;
        --ion-color-step-100: #1a1a1a;
        --ion-color-step-150: #262626;
        --ion-color-step-200: #333333;
        --ion-color-step-250: #404040;
        --ion-color-step-300: #4d4d4d;
        --ion-color-step-350: #595959;
        --ion-color-step-400: #666666;
        --ion-color-step-450: #737373;
        --ion-color-step-500: #808080;
        --ion-color-step-550: #8c8c8c;
        --ion-color-step-600: #999999;
        --ion-color-step-650: #a6a6a6;
        --ion-color-step-700: #b3b3b3;
        --ion-color-step-750: #bfbfbf;
        --ion-color-step-800: #cccccc;
        --ion-color-step-850: #d9d9d9;
        --ion-color-step-900: #e6e6e6;
        --ion-color-step-950: #f2f2f2;
        --ion-toolbar-background: #0d0d0d;
        --ion-item-background: #000000;
    }
    /*
   * Material Design Dark Theme
   * -------------------------------------------
   */
    .md body {
        --ion-background-color: #121212;
        --ion-background-color-rgb: 18, 18, 18;
        --ion-text-color: #ffffff;
        --ion-text-color-rgb: 255, 255, 255;
        --ion-border-color: #222222;
        --ion-color-step-50: #1e1e1e;
        --ion-color-step-100: #2a2a2a;
        --ion-color-step-150: #363636;
        --ion-color-step-200: #414141;
        --ion-color-step-250: #4d4d4d;
        --ion-color-step-300: #595959;
        --ion-color-step-350: #656565;
        --ion-color-step-400: #717171;
        --ion-color-step-450: #7d7d7d;
        --ion-color-step-500: #898989;
        --ion-color-step-550: #949494;
        --ion-color-step-600: #a0a0a0;
        --ion-color-step-650: #acacac;
        --ion-color-step-700: #b8b8b8;
        --ion-color-step-750: #c4c4c4;
        --ion-color-step-800: #d0d0d0;
        --ion-color-step-850: #dbdbdb;
        --ion-color-step-900: #e7e7e7;
        --ion-color-step-950: #f3f3f3;
        --ion-item-background: #1e1e1e;
        --ion-toolbar-background: #1f1f1f;
        --ion-tab-bar-background: #1f1f1f;
    }
}