<!-- <ion-header>
  <ion-toolbar>
    <ion-title>client-listing</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <div class="page-wrapper">
        <div class="container main-wrapper">
            <p class="page-title">ALL CLIENTS</p>
            <p class="page-subtitle">Select a client from the below list to start interaction</p>
            <div class="project-list">
                <a class="project-wrapper" *ngFor="let client of clientList" (click)="goToDashboard(client)">
                    <div class="project">

                        <div class="left-boxes">
                            <span class="left-box1 boxes"></span>
                            <span class="left-box2 boxes"></span>
                            <span class="left-box3 boxes"></span>
                        </div>
                        <span class="right-box boxes"></span>

                        <p class="project-initial">{{getInitial(client.sheetname)}}</p>
                    </div>
                    <p class="project-name">{{client?.sheetname}}</p>
                </a>
            </div>
        </div>
    </div>
</ion-content>