.page-wrapper {
    padding: 60px 0;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.main-wrapper {
    text-align: center;
    .page-title {
        font-family: var(--ion-font-primary-alternates-extrabold);
        font-size: 25px;
        color: var(--ion-text-color-light);
        letter-spacing: 0.09em;
        margin-top: 50px;
        line-height: 35px;
    }
    .page-subtitle {
        font-family: var(--ion-font-primary-semibold);
        font-size: 16px;
        color: var(--ion-text-white);
        margin: 0 5px;
        margin-bottom: 50px;
        letter-spacing: 0.09em;
    }
    .project-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .project-wrapper {
            margin: 35px 20px;
            cursor: pointer;
            text-decoration: none;
            .project {
                width: 210px;
                // height: 147px;
                background: var(--ion-background-color);
                box-shadow: 0px 0px 50px #d19211;
                border-radius: 37px;
                margin: 17px 40px;
                position: relative;
                display: flex;
                padding: 33px 40px;
                justify-content: space-between;
                align-items: flex-end;
                .project-initial {
                    font-size: 50px;
                    font-family: var(--ion-font-primary-alternates-extrabold);
                    background: var(--ion-text-background-color);
                    box-shadow: 0px 0px 75px #b98a2a;
                    border-radius: 23px;
                    padding: 10px 30px;
                    color: #fff;
                    display: inline-block;
                    position: absolute;
                    text-transform: uppercase;
                    top: -30px;
                    right: -25px;
                }
            }
            .project-name {
                font-family: var(--ion-font-primary-semibold);
                font-size: 22px;
                color: var(--ion-text-color);
                letter-spacing: 0.09em;
                text-transform: capitalize;
            }
        }
    }
}

.left-box1 {
    background: var(--ion-color-secondary);
    width: 37px;
    height: 10px;
    margin: 8px 0;
}

.left-box2 {
    background: var(--ion-color-secondary);
    width: 46px;
    height: 10px;
    margin-bottom: 20px;
}

.left-box3 {
    background: var(--ion-color-tertiary);
    width: 59px;
    height: 26px;
}

.right-box {
    background: #f6e1c5;
    width: 59px;
    height: 34px;
}

.boxes {
    display: block;
    border-radius: 10px;
}