/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "HelveticaNeue-Condensed";
    src: url("assets/fonts/HelveticaNeue-Condensed-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "MontserratAlternates-ExtraBold";
    src: url("assets/fonts/MontserratAlternates-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-Black";
    src: url("assets/fonts/Montserrat-Black.otf") format("opentype");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("assets/fonts/Montserrat-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Montserrat-ExtraBold";
    src: url("assets/fonts/Montserrat-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("assets/fonts/Montserrat-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("assets/fonts/Montserrat-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Montserrat-Light";
    src: url("assets/fonts/Montserrat-Light.otf") format("opentype");
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("assets/fonts/Montserrat-Medium.otf") format("opentype");
}

.page-wrapper {
    background-image: url(assets/images/background.png);
    width: 100%;
    background-attachment: fixed;
    min-height: 100%;
    background-size: cover;
}

.send-mail-wrapper {
    .modal-wrapper {
        height: auto !important;
        margin: 5px 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        border-radius: 14px;
        width: 60%;
        max-width: 800px;
        max-height: 100%;
        overflow: auto;
        .ion-page {
            position: relative;
            display: unset;
        }
    }
}

.task-listing-modal {
    .modal-wrapper {
        height: auto !important;
        margin: 5px 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        border-radius: 14px;
        width: 60%;
        max-width: 800px;
        max-height: 100%;
        overflow: auto;
        .ion-page {
            position: relative;
            display: unset;
        }
    }
}

@media only screen and (max-width: 768px) {
    .send-mail-wrapper {
        .modal-wrapper {
            width: 100%;
        }
    }
    .task-listing-modal {
        .modal-wrapper {
            width: 100%;
        }
    }
}