.page-wrapper {
    padding: 60px 100px;
}

.main-wrapper {
    background: var(--ion-background-color);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 60px 70px;
    position: relative;
}

.specks-icon {
    position: absolute;
    top: 0;
    right: 20%;
}

.laptop-icon {
    position: absolute;
    bottom: 20%;
    right: 0;
}

.board-icon {
    position: absolute;
    bottom: 30%;
    right: 40%;
}

.cube-icon {
    position: absolute;
    top: 25%;
    left: 1%;
}

.rocket-icon {
    position: absolute;
    bottom: 5%;
    left: 0;
}

.project {
    width: 135px;
    // height: 147px;
    background: var(--ion-background-color);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    position: relative;
    display: flex;
    padding: 19px 20px;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 15px;
    .project-initial {
        font-size: 30px;
        font-family: var(--ion-font-primary-alternates-extrabold);
        background: var(--ion-text-background-color);
        box-shadow: 0px 0px 75px #9a9a9a;
        border-radius: 23px;
        padding: 9px 21px;
        color: #fff;
        display: inline-block;
        position: absolute;
        top: -15px;
        right: -13px;
        text-transform: uppercase;
    }
}

.left-box1 {
    background: var(--ion-color-secondary);
    width: 23px;
    height: 7px;
    margin: 5px 0;
}

.left-box2 {
    background: var(--ion-color-secondary);
    width: 30px;
    height: 7px;
    margin-bottom: 18px;
}

.left-box3 {
    background: var(--ion-color-tertiary);
    width: 38px;
    height: 17px;
}

.right-box {
    background: #f6e1c5;
    width: 38px;
    height: 22px;
}

.boxes {
    display: block;
    border-radius: 10px;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.project-info-wrapper {
    display: flex;
    align-items: flex-start;
    .project-info {
        margin-left: 35px;
        .project-name {
            text-transform: capitalize;
            font-size: 24px;
            color: var(--ion-text-color-shade);
            font-family: var(--ion-font-primary-semibold);
        }
        .project-detail {
            color: var(--ion-text-color-tint);
            font-size: 14px;
            line-height: 23px;
            text-transform: capitalize;
            font-family: var(--ion-font-primary-medium);
            span {
                color: var(--ion-text-color-shade);
            }
        }
        .btn-wrapper {
            margin-top: 8px;
            ion-button {
                --background: var(--ion-color-primary);
                border-radius: 10px;
                font-size: 15px;
                color: var(--ion-text-white);
                font-family: var(--ion-font-primary-semibold);
                --box-shadow: none;
                --border-radius: 10px;
                --padding-top: 20px;
                --padding-bottom: 20px;
                --padding-start: 22px;
                text-transform: capitalize;
                --padding-end: 22px;
            }
            .action-btn {
                margin-left: 15px;
                --background: var(--ion-color-secondary);
            }
        }
    }
}

.date-wrapper {
    color: var(--ion-text-white);
    background: var(--ion-color-secondary);
    text-align: center;
    border-radius: 23px;
    padding: 12px 28px;
    .date {
        font-size: 50px;
        font-family: var(--ion-font-primary-bold);
    }
    .month {
        font-size: 18px;
        font-family: var(--ion-font-primary-semibold);
        text-transform: uppercase;
    }
}

.details-wrapper {
    .title {
        font-size: 35px;
        font-family: var(--ion-font-secondary-regular);
        color: var(--ion-color-primary);
        text-align: center;
        margin: 40px 0 25px;
    }
}

.rotate {
    transform: rotate(180deg);
}

.progress-div {
    position: relative;
}

.progress-div svg {
    transform: rotate(-90deg);
}

.progress-count {
    font-size: 14px;
    font-family: var(--ion-font-primary-semibold);
    color: var(--ion-text-color-shade);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progress-svg circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s linear;
    stroke: var(--ion-color-secondary);
}

.progress-svg .colored-circle {
    stroke: var(--ion-color-primary);
}

.accordion-section {
    margin: 0 90px;
}

.single-accordion {
    border-bottom: 1px solid var(--ion-text-color-tint);
}

.accordion-header {
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    .accordion-header-left {
        display: flex;
        align-items: center;
        .task-header-name {
            font-family: var(--ion-font-primary-semibold);
            font-size: 22px;
            color: var(--ion-text-color-shade);
            margin-left: 15px;
            text-transform: capitalize;
        }
    }
}

.accordion-content {
    padding: 0 110px 5px;
    display: none;
    .task-list-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
        .task-list {
            display: flex;
            align-items: center;
            .circle {
                width: 20px;
                height: 20px;
                background-color: #e5e5e5;
                border-radius: 50%;
            }
            .task-wrapper {
                margin: 0 15px;
                display: flex;
                align-items: center;
                .task-name {
                    color: var(--ion-text-color-shade);
                    font-family: var(--ion-font-primary-medium);
                    font-size: 22px;
                    margin-right: 15px;
                    text-transform: capitalize;
                }
                .view-task-btn {
                    font-family: var(--ion-font-primary-medium);
                    font-size: 14px;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}

.btn-wrap {
    transition: 0.4s all;
}

.completion {
    background: var(--ion-color-secondary) !important;
}


/* The container */

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    // margin-bottom: 12px;
    height: 33px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 33px;
    width: 33px;
    border-radius: 12px;
    background: #ececec;
}


/* On mouse-over, add a grey background color */

.checkbox-container:hover input~.checkmark {
    background: #ececec;
}


/* When the checkbox is checked, add a blue background */

.checkbox-container input:checked~.checkmark {
    background-color: var(--ion-color-secondary);
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    // display: none;
}


/* Show the checkmark when checked */

.checkbox-container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.checkbox-container .checkmark:after {
    left: 11px;
    top: 4px;
    width: 7px;
    height: 15px;
    border: solid var(--ion-text-white);
    border-width: 0 5px 5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media only screen and (max-width: 768px) {
    .page-wrapper {
        padding: 30px 10px;
    }
    .main-wrapper {
        padding: 30px 15px;
    }
    .project {
        width: 100px;
        // height: 147px;
        border-radius: 15px;
        padding: 10px;
        margin-top: 15px;
        .project-initial {
            font-size: 21px;
            border-radius: 15px;
            padding: 5px 15px;
            top: -15px;
            right: -13px;
        }
    }
    .left-box1 {
        width: 20px;
        height: 5px;
        margin: 3px 0;
    }
    .left-box2 {
        width: 25px;
        height: 5px;
        margin-bottom: 10px;
    }
    .left-box3 {
        width: 28px;
        height: 12px;
    }
    .right-box {
        width: 30px;
        height: 15px;
    }
    .boxes {
        border-radius: 10px;
    }
    .header-section {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .project-info-wrapper {
        display: flex;
        align-items: flex-start;
        .project-info {
            margin-left: 20px;
            .project-name {
                font-size: 21px;
            }
            .project-detail {
                font-size: 12px;
                line-height: 21px;
            }
            .btn-wrapper {
                // margin-top: 8px;
                ion-button {
                    font-size: 12px;
                    --padding-top: 18px;
                    --padding-bottom: 18px;
                    --padding-start: 20px;
                    --padding-end: 20px;
                }
                .action-btn {
                    margin-top: 10px;
                    margin-left: 0px;
                }
            }
        }
    }
    .date-wrapper {
        display: none;
    }
    .details-wrapper {
        .title {
            font-size: 28px;
            // margin: 30px 0 15px;
        }
    }
    .accordion-section {
        margin: 0px;
    }
    .accordion-header {
        padding: 12px 0px;
        .accordion-header-left {
            .task-header-name {
                font-size: 18px;
                margin-left: 10px;
            }
        }
    }
    .accordion-content {
        padding: 0 10px 5px;
        .task-list-wrapper {
            margin-bottom: 25px;
            .task-list {
                .circle {
                    width: 20px;
                    height: 20px;
                }
                .task-wrapper {
                    align-items: flex-start;
                    flex-direction: column;
                    .task-name {
                        font-size: 18px;
                        margin: 0;
                        margin-bottom: 10px;
                    }
                    .view-task-btn {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .checkbox-container {
        padding-left: 30px;
        height: 28px;
    }
    .checkmark {
        width: 28px;
        height: 28px;
        border-radius: 8px;
    }
    .checkbox-container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 11px;
    }
    .specks-icon,
    .laptop-icon,
    .board-icon,
    .cube-icon,
    .rocket-icon {
        display: none;
    }
}