<!-- <ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

    <div class="page-wrapper">
        <div class="main-wrapper">

            <svg class="board-icon" width="168" height="168" viewBox="0 0 168 168" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M47.2319 128.845C46.1455 127.964 45.9791 126.367 46.8604 125.281L66.0189 101.665C66.9002 100.578 68.4971 100.412 69.5835 101.293C70.6698 102.174 70.8362 103.771 69.9549 104.858L50.7964 128.474C49.9151 129.56 48.3182 129.726 47.2319 128.845Z" fill="#F7F7F7"/>
                <path d="M64.9437 143.214C64.5698 142.911 64.2781 142.498 64.1217 141.999L55.9889 115.822C55.5722 114.485 56.318 113.067 57.6546 112.651C58.9913 112.234 60.4054 112.976 60.8261 114.316L68.9589 140.493C69.3756 141.83 68.6298 143.248 67.2931 143.665C66.4523 143.929 65.5774 143.728 64.9437 143.214Z" fill="#F7F7F7"/>
                <path d="M29.5199 114.476C28.8822 113.959 28.5094 113.147 28.5906 112.267C28.7228 110.873 29.9567 109.851 31.3505 109.983L58.6418 112.544C60.0388 112.672 61.0618 113.913 60.9256 115.304C60.7934 116.698 59.5595 117.72 58.1657 117.588L30.8744 115.027C30.3618 114.983 29.8977 114.783 29.5199 114.476Z" fill="#F7F7F7"/>
                <path d="M147.261 85.992L68.5406 22.1302C64.1992 18.6082 63.5328 12.2134 67.0547 7.872C70.5767 3.53059 76.9715 2.8642 81.3129 6.38618L160.033 70.248C164.374 73.7699 165.041 80.1647 161.519 84.5061C157.997 88.8475 151.602 89.5139 147.261 85.992ZM78.1198 10.3222C75.9511 8.56279 72.7501 8.89635 70.9907 11.0651C69.2313 13.2338 69.5649 16.4348 71.7337 18.1942L150.454 82.056C152.622 83.8154 155.823 83.4818 157.583 81.3131C159.342 79.1443 159.009 75.9434 156.84 74.184L78.1198 10.3222Z" fill="#F7F7F7"/>
                <path d="M99.8464 132.37L32.9344 78.0878C29.6793 75.4471 29.1793 70.6492 31.82 67.3942L70.1371 20.1622C71.0184 19.0758 72.6153 18.9094 73.7016 19.7907L148.486 80.4594C149.572 81.3407 149.738 82.9376 148.857 84.0239L110.54 131.256C107.899 134.511 103.101 135.011 99.8464 132.37ZM72.4766 25.3232L35.756 70.5873C34.8747 71.6736 35.0411 73.2705 36.1275 74.1518L103.039 128.434C104.126 129.316 105.723 129.149 106.604 128.063L143.325 82.7989L72.4766 25.3232Z" fill="#F7F7F7"/>
                <path d="M48.4069 75.2064C47.9031 74.7977 47.5558 74.1961 47.4798 73.5014C47.3349 72.1113 48.3471 70.8635 49.7373 70.7187L78.2536 67.747C79.4585 67.6215 80.5806 68.3621 80.9384 69.5139L85.6717 84.7489L115.108 78.3339C116.473 78.044 117.827 78.901 118.124 80.2716C118.418 81.6391 117.553 82.9867 116.187 83.2877L84.4772 90.1953C83.1946 90.4731 81.907 89.7353 81.5159 88.4717L76.7082 73.0067L50.2593 75.7629C49.571 75.831 48.9107 75.6152 48.4069 75.2064Z" fill="#F3F3F3"/>
                </svg>
            <svg class="specks-icon" width="202" height="76" viewBox="0 0 202 76" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M196.082 16.6719H185.767C179.107 2.6885 164.836 -7 148.344 -7C133.201 -7 119.932 1.16877 112.706 13.3294C109.424 10.7922 105.343 9.35687 101 9.35687C96.6574 9.35687 92.576 10.7922 89.2943 13.3294C82.068 1.16877 68.7991 -7 53.6562 -7C37.1641 -7 22.8935 2.6885 16.233 16.6719H5.91797C2.64967 16.6719 0 19.3215 0 22.5898C0 25.8581 2.64967 28.5078 5.91797 28.5039H12.655C12.3772 30.4414 12.2305 32.4164 12.2305 34.4258C12.2305 57.268 30.8141 75.8516 53.6562 75.8516C76.4984 75.8516 95.082 57.268 95.082 34.4258C95.082 31.4514 94.7644 28.5504 94.1659 25.7524C94.2701 25.5871 94.3679 25.4151 94.4571 25.2364C95.7042 22.7421 98.2115 21.1928 101 21.1928C103.789 21.1928 106.296 22.7421 107.543 25.2364C107.632 25.4143 107.731 25.5835 107.835 25.7481C107.236 28.5477 106.918 31.4502 106.918 34.4258C106.918 57.268 125.502 75.8516 148.344 75.8516C171.186 75.8516 189.77 57.268 189.77 34.4258C189.77 32.4164 189.623 30.4414 189.345 28.5078H196.082C199.35 28.5078 202 25.8581 202 22.5898C202 19.3215 199.35 16.6719 196.082 16.6719ZM53.6562 64.0156C37.3404 64.0156 24.0664 50.7416 24.0664 34.4258C24.0664 18.1099 37.3404 4.83594 53.6562 4.83594C69.9721 4.83594 83.2461 18.1099 83.2461 34.4258C83.2461 50.7416 69.9721 64.0156 53.6562 64.0156ZM148.344 64.0156C132.028 64.0156 118.754 50.7416 118.754 34.4258C118.754 18.1099 132.028 4.83594 148.344 4.83594C164.66 4.83594 177.934 18.1099 177.934 34.4258C177.934 50.7416 164.66 64.0156 148.344 64.0156Z" fill="#F6F6F6"/>
                    </svg>
            <svg class="laptop-icon" width="137" height="147" viewBox="0 0 137 147" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M156.569 80.1406C156.559 80.1243 156.551 80.1076 156.541 80.0915C156.501 80.0279 156.458 79.9674 156.412 79.9104C156.407 79.9048 156.402 79.8995 156.397 79.894C156.354 79.8419 156.309 79.7927 156.261 79.7464C156.248 79.7339 156.235 79.7222 156.222 79.7102C156.178 79.6688 156.131 79.63 156.083 79.5936C156.075 79.5872 156.067 79.5798 156.059 79.5734L138.049 66.3706L108.43 7.91701C107.519 6.11917 105.316 5.39768 103.518 6.30865L13.4422 51.95C11.6443 52.861 10.9228 55.0647 11.8338 56.8625L41.4521 115.316L41.4473 137.647C41.4473 137.658 41.4491 137.668 41.4493 137.678C41.4502 137.739 41.4543 137.799 41.4609 137.859C41.4628 137.877 41.4647 137.895 41.4671 137.912C41.4766 137.978 41.4892 138.044 41.5058 138.11C41.5075 138.117 41.5086 138.124 41.5103 138.131C41.5291 138.202 41.5526 138.272 41.5803 138.342C41.5872 138.359 41.5957 138.376 41.6032 138.393C41.6187 138.429 41.6331 138.465 41.6511 138.501L43.816 142.773C44.898 144.909 47.5151 145.766 49.6505 144.684L156.882 90.3495C159.017 89.2675 159.874 86.6504 158.792 84.515L156.627 80.2425C156.609 80.207 156.588 80.174 156.569 80.1406ZM15.2574 55.2641L105.117 9.73215L134.031 66.7955L44.1715 112.327L15.2574 55.2641ZM45.2282 116.025L136.387 69.8345L151.347 80.801L114.344 99.5507L109.074 93.7574C108.001 92.578 106.259 92.2575 104.837 92.9781L82.5497 104.271C81.1276 104.991 80.3554 106.586 80.672 108.148L82.2271 115.824L45.2239 134.574L45.2282 116.025ZM110.85 101.321L85.7219 114.054L84.4069 107.563L106.394 96.4226L110.85 101.321ZM155.423 86.2216C155.564 86.4994 155.453 86.8401 155.175 86.9808L47.9436 141.315C47.6658 141.456 47.3251 141.344 47.1843 141.066L45.8728 138.478L154.112 83.6333L155.423 86.2216Z" fill="#F6F6F6"/>
                        <path d="M115.72 43.7445C114.789 44.2159 114.418 45.3518 114.889 46.2821L123.543 63.3612L47.6063 101.838L38.9523 84.7593C38.4809 83.8289 37.345 83.4571 36.4147 83.9285C35.4843 84.3999 35.1124 85.5357 35.5839 86.4661L44.6064 104.273C45.3443 105.729 47.1292 106.313 48.5857 105.575L125.977 66.361C127.434 65.6231 128.018 63.8382 127.28 62.3817L118.258 44.5752C117.786 43.6454 116.65 43.2731 115.72 43.7445Z" fill="#F6F6F6"/>
                        <path d="M100.704 16.484L23.3125 55.6983C21.8562 56.4362 21.2716 58.2211 22.0096 59.6776L31.0322 77.484C31.5036 78.4144 32.6394 78.7863 33.5698 78.3149C34.5001 77.8434 34.872 76.7076 34.4006 75.7772L25.7466 58.6981L101.683 20.221L110.337 37.3001C110.809 38.2304 111.945 38.6023 112.875 38.1309C113.805 37.6595 114.177 36.5236 113.706 35.5933L104.683 17.7868C103.945 16.3301 102.16 15.746 100.704 16.484Z" fill="#F6F6F6"/>
                        </svg>
            <svg class="rocket-icon" width="115" height="143" viewBox="0 0 115 143" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M98.2981 9.35606C97.3392 4.42594 92.8413 1.02279 87.8361 1.43967C77.7366 2.2803 58.1958 5.52958 40.7835 17.8282C31.9072 24.0981 22.9564 33.8836 16.2263 44.6757C16.1434 44.8086 16.0633 44.942 15.9812 45.0751L-2.13707 49.0262C-5.11939 49.6768 -7.58564 51.6287 -8.90367 54.3813L-18.7809 75.0102C-19.7805 77.0978 -19.65 79.5191 -18.4323 81.4871C-17.2142 83.4553 -15.1057 84.6524 -12.7916 84.6897L2.96915 84.9425C2.95622 85.25 2.94301 85.5573 2.93448 85.8641C2.84638 89.008 4.30197 92.0262 6.82859 93.9379L31.2977 112.454C33.3925 114.039 36.0192 114.709 38.5668 114.356C39.0914 114.284 39.613 114.167 40.126 114.007C40.419 113.915 40.7112 113.819 41.0036 113.723L45.5304 128.822C46.1951 131.039 47.9203 132.743 50.1449 133.38C51.0706 133.645 52.02 133.708 52.9389 133.581C54.2292 133.402 55.4586 132.849 56.473 131.955L73.641 116.843C75.932 114.826 77.1399 111.923 76.955 108.876L75.8333 90.3662C75.939 90.251 76.0458 90.1376 76.1513 90.0217C84.7083 80.6118 91.693 69.3384 95.3142 59.0919C102.418 38.9918 100.233 19.3033 98.2981 9.35606ZM68.7532 111.29L52.331 125.746L47.9192 111.031C55.2483 107.727 62.308 103.082 68.8408 97.2648L69.5716 109.323C69.6173 110.075 69.3188 110.792 68.7532 111.29ZM35.7614 106.555L11.2921 88.0389C10.6678 87.5663 10.3075 86.8308 10.329 86.0713C10.4388 82.1619 10.928 78.3872 11.6825 74.7906L48.3972 102.573C44.4862 104.617 40.9219 106.007 37.9168 106.947C37.1904 107.174 36.3857 107.027 35.7614 106.555ZM-0.56076 56.254L11.2419 53.6801C7.41906 61.548 4.86796 69.6042 3.67971 77.5556L-11.6801 77.3093L-2.23149 57.5762C-1.90594 56.8963 -1.29681 56.4144 -0.56076 56.254ZM70.6788 85.0443C65.4435 90.8011 60.1925 95.1679 55.2545 98.4853L13.7587 67.0854C16.1861 59.7032 19.5199 53.3743 22.5033 48.5902C28.7314 38.6028 36.9499 29.5928 45.0517 23.8703C61.0321 12.5825 79.1019 9.59126 88.4505 8.8113C89.6879 8.70814 90.8 9.54963 91.037 10.7687C92.8279 19.9774 94.8592 38.1798 88.3395 56.6267C85.0346 65.9786 78.5974 76.3363 70.6788 85.0443Z" fill="#F6F6F6"/>
                            <path d="M65.7499 63.159C70.44 62.509 74.8848 60.0736 77.961 56.0083C80.942 52.0693 82.21 47.2051 81.5324 42.3122C80.8547 37.4193 78.3122 33.0829 74.3731 30.1023C66.2414 23.9487 54.6199 25.5588 48.4671 33.6902C45.4861 37.6292 44.2178 42.4934 44.8955 47.3863C45.5731 52.2792 48.1159 56.6156 52.055 59.5962C56.1211 62.6731 61.0581 63.8093 65.7499 63.159ZM54.3655 38.1538C56.2113 35.7142 58.8775 34.2531 61.692 33.8633C64.5068 33.4734 67.4697 34.1549 69.9091 36.001C72.2725 37.7894 73.7979 40.3912 74.2045 43.3269C74.6111 46.2626 73.8502 49.1812 72.0618 51.5446C68.3702 56.4235 61.3969 57.3891 56.518 53.6974C54.1546 51.909 52.629 49.3073 52.2224 46.3716C51.8158 43.4359 52.5771 40.5172 54.3655 38.1538Z" fill="#F6F6F6"/>
                            <path d="M14.6145 109.075C12.9857 107.842 10.6658 108.163 9.43312 109.792L-10.3793 135.975C-11.6119 137.604 -11.2907 139.924 -9.66166 141.156C-8.84716 141.773 -7.86019 142.001 -6.92249 141.871C-5.9848 141.741 -5.09664 141.253 -4.48058 140.439L15.3318 114.256C16.5648 112.627 16.2435 110.307 14.6145 109.075Z" fill="#F6F6F6"/>
                            <path d="M21.9136 119.236L11.6084 132.855C10.3757 134.484 10.697 136.804 12.326 138.036C13.1405 138.653 14.1278 138.881 15.0652 138.751C16.0027 138.621 16.8911 138.133 17.5071 137.319L27.8123 123.7C29.045 122.071 28.7237 119.751 27.0947 118.519C25.466 117.286 23.146 117.607 21.9136 119.236Z" fill="#F6F6F6"/>
                            </svg>
            <svg class="cube-icon" width="139" height="136" viewBox="0 0 139 136" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M26.9802 51.1255L24.9114 51.7019L26.1648 53.4459L42.1513 75.689L42.7564 76.5309L43.7579 76.2624L67.1104 70.0007L69.2065 69.4387L67.9399 67.6764L51.8067 45.2292L51.1953 44.3785L50.1861 44.6597L26.9802 51.1255Z" stroke="#F6F6F6" stroke-width="3"/>
                                <path d="M72.3713 68.6376L70.3025 69.214L71.5559 70.9579L87.5425 93.2011L88.1476 94.043L89.149 93.7745L112.502 87.5128L114.598 86.9507L113.331 85.1885L97.1978 62.7413L96.5864 61.8906L95.5772 62.1718L72.3713 68.6376Z" stroke="#F6F6F6" stroke-width="3"/>
                                <path d="M29.5171 99.4373L27.4482 100.014L28.7016 101.758L44.6882 124.001L45.2933 124.843L46.2947 124.574L69.6473 118.313L71.7433 117.75L70.4768 115.988L54.3436 93.5411L53.7321 92.6903L52.7229 92.9715L29.5171 99.4373Z" stroke="#F6F6F6" stroke-width="3"/>
                                <path d="M43.0649 76.7085L42.5156 76.8562L42.2023 77.3311L29.9817 95.8557L27.8418 99.0994L31.6061 98.1347L54.7094 92.2141L55.3159 92.0586L55.632 91.518L66.4036 73.0922L68.2475 69.9379L64.7192 70.8866L43.0649 76.7085Z" stroke="#F6F6F6" stroke-width="3"/>
                                <path d="M85.7989 45.9876L85.269 46.1363L84.961 46.5923L72.3661 65.2382L70.1176 68.5671L73.9976 67.5267L97.3502 61.265L97.9352 61.1081L98.2473 60.5889L109.382 42.0641L111.327 38.8271L107.691 39.8471L85.7989 45.9876Z" stroke="#F6F6F6" stroke-width="3"/>
                                <path d="M41.2338 27.8895L40.6926 28.0345L40.3791 28.4989L27.7913 47.1397L25.5176 50.5068L29.4338 49.425L51.1148 43.4362L51.6549 43.2871L51.9649 42.8203L64.1588 24.4626L66.355 21.1561L62.5209 22.1838L41.2338 27.8895Z" stroke="#F6F6F6" stroke-width="3"/>
                                <path d="M66.1386 22.9818L67.3445 21.2046L68.5979 22.9485L84.5845 45.1917L85.1896 46.0336L84.6159 46.8972L71.2366 67.0353L70.0357 68.8429L68.7692 67.0807L52.6359 44.6335L52.0245 43.7828L52.6127 42.9158L66.1386 22.9818Z" stroke="#F6F6F6" stroke-width="3"/>
                                <path d="M68.2676 71.5869L69.4734 69.8098L70.7268 71.5537L86.7134 93.7968L87.3185 94.6388L86.7448 95.5023L73.3655 115.64L72.1646 117.448L70.8981 115.686L54.7648 93.2386L54.1534 92.3879L54.7416 91.521L68.2676 71.5869Z" stroke="#F6F6F6" stroke-width="3"/>
                                <path d="M111.121 40.7871L112.327 39.01L113.58 40.7539L129.567 62.997L130.172 63.839L129.598 64.7025L116.219 84.8407L115.018 86.6483L113.752 84.886L97.6183 62.4388L97.0069 61.5881L97.5952 60.7212L111.121 40.7871Z" stroke="#F6F6F6" stroke-width="3"/>
                                </svg>



            <!-- header section start -->
            <div class="header-section">
                <div class="project-info-wrapper">
                    <div class="project">
                        <div class="left-boxes">
                            <span class="left-box1 boxes"></span>
                            <span class="left-box2 boxes"></span>
                            <span class="left-box3 boxes"></span>
                        </div>
                        <span class="right-box boxes"></span>
                        <p class="project-initial">{{projectData?.initial}}</p>
                    </div>
                    <div class="project-info">
                        <p class="project-name">{{projectData?.sheetname}}</p>
                        <p class="project-detail"><span>Owner: </span>{{projectData?.owner_name}}</p>
                        <p class="project-detail"><span>End Date: </span>{{formateDate(projectData.end_date)}}</p>
                        <div class="btn-wrapper">
                            <ion-button (click)="sendMail()">Update Client</ion-button>
                            <ion-button class="action-btn">Action Button</ion-button>
                        </div>
                    </div>
                </div>
                <div class="date-wrapper">
                    <p class="date">{{today| date:'dd'}}</p>
                    <p class="month">{{today | date: 'LLL'}}</p>
                </div>
            </div>
            <!-- header section end -->
            <div class="details-wrapper">
                <p class="title">Milestones In Project</p>
                <div class="accordion-section">
                    <div class="single-accordion" *ngFor="let milestone of projectData.project_milestones">
                        <div class="accordion-header" (click)="accordion($event.target,$event)">
                            <div class="accordion-header-left">
                                <div class="progress-div" data-pct="100">

                                    <svg class="progress-svg" width="60" height="60" viewPort="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                        <circle r="26" cx="30" cy="30" fill="transparent" stroke-width="8" stroke-dasharray="163.28" stroke-dashoffset="0"></circle>
                                        <circle class="colored-circle" r="26" cx="30" cy="30" stroke-width="8" fill="transparent" stroke-dasharray="163.28" stroke-dashoffset="0"></circle>
                                      </svg>

                                    <p class="progress-count">{{milestone?.percentage}}%</p>
                                </div>




                                <p class="task-header-name">{{milestone?.title}}</p>
                            </div>
                            <svg class="btn-wrap" width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.9952 0.749998L7.5 12L1.00481 0.749999L13.9952 0.749998Z" fill="#FFC856" stroke="#FF9F4D"/>
                                </svg>

                        </div>
                        <div class="accordion-content">
                            <div class="task-list-wrapper" *ngFor="let goal of milestone.goals">
                                <div class="task-list">
                                    <div class="circle" [ngClass]="{'completion': goal.completed == 100}"></div>
                                    <div class="task-wrapper">
                                        <p class="task-name">{{goal?.title}}</p>
                                        <a class="view-task-btn" (click)="viewTasks(goal.tasks,goal.title)">View Tasks</a>
                                    </div>

                                </div>

                                <div>
                                    <label class="checkbox-container">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                      </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</ion-content>