.send-mail-modal {
    padding: 30px 40px;
    .modal-title {
        font-size: 24px;
        font-family: var(--ion-font-primary-semibold);
        color: var(--ion-text-color-shade);
        text-align: center;
        text-transform: capitalize;
    }
    .text-border {
        text-align: center;
        position: relative;
        width: 20px;
        height: 20px;
        background-color: var(--ion-color-primary);
        border-radius: 100%;
        margin: 20px auto;
        &::after {
            content: "";
            position: absolute;
            position: absolute;
            width: 100px;
            height: 8px;
            background-color: var(--ion-color-secondary);
            right: 35px;
            transform: translateY(-50%);
            top: 50%;
        }
        &::before {
            content: "";
            position: absolute;
            width: 100px;
            height: 8px;
            background-color: var(--ion-color-secondary);
            transform: translateY(-50%);
            top: 50%;
            left: 35px;
        }
    }
}

.each-task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 15px 30px;
    margin-bottom: 20px;
    border-radius: 50px;
    .task-name {
        font-size: 22px;
        font-family: var(--ion-font-primary-medium);
        color: var(--ion-text-color-shade);
        text-transform: capitalize;
    }
}

.complete-task {
    background-color: var(--ion-color-secondary) !important;
    .task-name {
        font-family: var(--ion-font-primary-bold) !important;
        color: var(--ion-text-white) !important;
    }
    .checkmark {
        background: var(--ion-background-color);
        &::after {
            border: solid var(--ion-color-secondary) !important;
            border-width: 0 5px 5px 0 !important;
        }
    }
}


/* The container */

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 45px;
    // margin-bottom: 12px;
    height: 45px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 45px;
    width: 45px;
    border-radius: 25px;
    background: #ececec;
}


/* When the checkbox is checked, add a blue background */

// .checkbox-container input:checked~.checkmark {
//     background-color: var(--ion-color-secondary);
// }

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    // display: none;
}


/* Show the checkmark when checked */

.checkbox-container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.checkbox-container .checkmark:after {
    left: 16px;
    top: 10px;
    width: 8px;
    height: 15px;
    border: solid var(--ion-text-white);
    border-width: 0 5px 5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media only screen and (max-width: 768px) {
    .send-mail-modal {
        padding: 25px 20px;
    }
}