<div class="send-mail-modal">
    <p class="modal-title">{{goalName}}</p>
    <div class="text-border"></div>
    <div>
        <div *ngFor="let task of tasksList" class="each-task" [ngClass]="{'complete-task': task.completed == 1}">
            <p class="task-name">{{task.title}}</p>
            <label class="checkbox-container">
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>

</div>